* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kaisei HarunoUmi', serif;
  background-color: #fafafa;
}

.nav--title {
  list-style: none;
  text-decoration: none;
  font-size: 2rem;
  color: #212529;
}

.auth--container {
  padding: 200px 0;
}

.auth--wrapper {
  border: 1px solid #a6a6a6;
  width: 28%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  overflow: hidden;
}

.profile--container {
  padding: 50px 0;
}

.auth--title {
  text-align: center;
}

.auth--form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.form--title {
  color: #212529;
}

.auth--card {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}
.auth--input {
  border: 1px solid #a6a6a6;
  padding: 0.6rem;
  margin: 0.2rem 0;
  border-radius: 0.4rem;
}

textarea {
  padding: 0.6rem;
  border-radius: 0.4rem;
}

.auth--btn {
  border: none;
  padding: 0.5rem 0;
  background-color: #0b5ed7;
  color: #ffff;
  border-radius: 0.4rem;
  cursor: pointer;
}
.auth--btn:hover {
  background-color: #2d8cff;
}

.post--header {
  border-bottom: 1px solid #a6a6a6;
  margin: 1rem 0;
}

.post--nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.post--container {
  width: 50%;
  margin: 0 auto;
  display: flex;
}

.create--post {
  width: 50%;
  margin-left: 2rem;
}

.post--input {
  border: 1px solid #a6a6a6;
  padding: 5rem 0;
  margin: 0.2rem 0;
}

.post--card {
  width: 90%;
  border: 1px solid #a6a6a6;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px 30px 20px;
  overflow: hidden;
}

.btns {
  border: none;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
}

.icon {
  color: #0b5ed7;
}

.content {
  background-color: #fafafa;
  color: black;
  padding: 2rem;
}

.post--btns {
  display: flex;
  justify-content: space-between;
  background-color: #e6c5bd;
  width: 100%;
  padding: 0.4rem;
}

.delete-btn {
  margin-left: 0.2rem;
}

.delete-icon:hover {
  color: red;
  cursor: pointer;
}

.edit-icon:hover {
  color: green;
}

.edit-icon,
.delete-icon {
  color: #888;
}

.post--like {
  display: flex;
}

.post--form {
  display: flex;
  flex-direction: column;
}

.dropdown-header {
  cursor: pointer;
}

.dropdown-body {
  padding: 5px;
  display: none;
  position: relative;
}

.dropdown-body.open {
  padding: 1rem 2rem;
  display: block;
  position: absolute;
  top: 5;
  color: #212529;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown-item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.dropdown-Link {
  width: 100%;
  list-style: none;
  text-decoration: none;
}

.dropdown-btn {
  margin-top: 0.8rem;
  background-color: #212529;
}
.dropdown-item:hover {
  cursor: pointer;
}
